*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
    font-weight: 500;
    color: #555;
    font-size: 1.8rem;
}
header{
    font-size: 4.4rem;
    text-align: center;
    padding: 0.8rem;
    background: #e78229;
    color: white;
}
.container{
    max-width: 130rem;
    background-color: white;
    margin: 0 auto;
}
img{
    height: 24rem;
    width: 24rem;
    justify-self: center;
    position: relative;
}
.logo img{
    width: 100px;
    height: 100px;
}
img{
    border-radius: 15px;
    width: 400px;
    height: 400px;
}
.img-meo{
    display: flex;
    justify-content: space-around;
}
.img-meo img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.btn button{
    font-family: 'Times New Roman';
    font-size: 1.8rem;
    color: #555;
    font-weight: 600;
    padding: 2.4rem;
    margin-right: 5rem;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background-color: #ffc18b;
    transition: 0.5s;

}
.btn button:hover{
    background-color: gray;
    color: white;
}
.head{
    display: flex;
    justify-content: space-around;
}
.head nav {
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: 10px;
    margin-right: 250px;
}

.head nav a {
    color: black;
    text-decoration: none;
    padding: 0 1em;
    font-size: 25px;
    font-family: 'Times New Roman';
    border-radius: 20px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

article {
    flex: 1;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1em;
    cursor: pointer;
}

nav a:hover {
   background: #e78229;
   height: 50px;
}

.hidden {
    display: none;
}
p{
    margin: 10px;
}
